html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "ratio", sans-serif;
	line-height: 1.45;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	position: relative;
}

a:before {
	position: absolute;
	content: "";
	background-color: rgb(255, 218, 90);
	width: 104%;
	margin-left: -2%;
	bottom: 4px;
	z-index: -1;
}

h2 a:before {
	height: 15px;
}

h3 a:before {
	height: 12px;
}

.header {
	background-color: #fdd030;
	position: relative;
	height: 200px;
}

.header h1 {
	max-width: 520px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -15px;
	padding: 0 15px;
	font-size: 4rem;
}

.container {
	max-width: 520px;
	margin: 50px auto 0;
	padding: 0 15px 30px;
}

p {
	font-size: 1.75rem;
	color: #5A5A5A;
	margin: 0;
}

p.intro {
	margin-bottom: 40px;
}

.layer-of-despair {
	margin-bottom: 30px;
}

h2 {
	font-size: 2.2rem;
	margin: 0 0 1rem 0;
	line-height: 1.2;
}

h2:first-letter {
	margin-left: -2.2rem;
}

.sublayer-of-despair {
	margin-top: 20px;
}

h3 {
	font-size: 1.8rem;
	font-weight: 500;
	margin: 15px 0 5px;
}

.goodbye {
	position: relative;
	padding-top: 30px;
}

.goodbye:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	height: 2px;
	background-color: #eee;
}


.goodbye p:last-child {
	margin-top: 3rem;
	text-align: right;
}

.goodbye p span {
	display: block;
	width: 100%;
}

@media screen and (max-width: 539px) {
	.header {
		height: 100px;
	}

	h2:first-letter {
		margin-left: 0;
	}
}