/*:root {
    --font-body: 'IvarTxt','IBM Plex Sans',-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    --font-ui: 'Soehne','IBM Plex Sans',-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    --font-mono: SFMono-Regular,Consolas,Inconsolatas,Liberation Mono,Menlo,monospace;
    --font-accent-weight: 700;
    --spacing-s: calc(var(--font-line-height) * 0.5);
    --spacing-m: calc(var(--font-line-height) * 0.75);
    --spacing-l: calc(var(--font-line-height) * 2);
    --spacing-xl: calc(var(--font-line-height) * 3);
    --spacing-xxl: calc(0.5rem + 4vw);
    --spacing-max-width: 49rem;
}*/

/* Colors */

/*html {
  --color-base: rgba(0,0,0,0.7);
  --color-mid: rgba(0,0,0,0.4);
  --color-block: rgba(0,0,0,0.2);
  --color-dim: rgba(0,0,0,0.08);
  --color-bg: snow;
  --color-accent: rgb(88,86,214);
}*/


	* {
		margin: 0;
		-webkit-font-smoothing:antialiased;
		-moz-font-feature-settings:"kern" 1;
		-ms-font-feature-settings:"kern" 1;
		-o-font-feature-settings:"kern" 1;
		-webkit-font-feature-settings:"kern" 1;
		font-feature-settings:"kern" 1;
		font-kerning:normal;
	}

	::selection {
		background: #ffd3c7;
		color: #4c4646;
	}
	::-moz-selection {
		background: #ffd3c7;
		color: #4c4646;
	}

	body {
		background: #FFFCFB;
		background-image: url(../../../img/bg.png);
		background-attachment: fixed;
		font-family: 'Work Sans', sans-serif;
	}
	
	/*Para tirar os pontinhos de tras dos textos da newsletter*/
	article p,
	article blockquote {
		background: #FFFCFB;
	}

	.accent {color: #ff9778;}
	.bg-accent {background-color: #ff9778}
	.accent-hover:hover {color: #ff9778;}
	.b--accent {border-color: #ff9778;}
	.mid-gray {color: #4c4646}
	.silver {color: #9c9999}
	.shadow-0 {box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;}
	.work-sans {font-family: 'Work Sans', sans-serif;}
	.gelasio {font-family: 'Gelasio', serif;}
	.gelasio-i {font-family: 'Gelasio', serif; font-style: italic;}
	@media (max-width: 30em) {.shadow-none-sm {box-shadow: none;}}
	@media (max-width: 70em) {.hide-hack {display: none}}