*:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    border: 7px solid red;
    border-top-color: #f38580;
    border-right-color: #f79b71;
    border-bottom-color: #f8a466;
    border-left-color: #faae5f;
}

#header {
    min-height: 100%;
    min-height: 100vh;
}

#header .intro {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 562px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header .intro img {
    margin-left: auto;
    margin-right: auto;
}

#header .intro p {
    padding: 0 30px;
    width: 100%;
    margin: 70px auto;
    font-size: 1.45rem;
    line-height: 1.55;
    font-weight: 300;
    text-align: left;
    color: #949494;
}

#header .intro p.mobile {
    display: none;
}

.main-button {
    color: #f38580;
    border: 1px solid #f38580;
    padding: 12px 14px 10px 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 1.3rem;
    text-decoration: none;
    background: transparent;
}

.main-button:hover,
.main-button:focus {
    background: rgba(243, 133, 128, 0.25);
    color: #F26660;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#header .intro a[href*="team"] {
    margin-right: 20px;
}

#header .intro a[href*="contact"] {
    margin-left: 20px;
}

section::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #ddd;
}

#team .container {
    padding-top: 70px;
}

#team .team-card {
    margin-bottom: 50px;
}

#team .team-card:last-child {
    margin-bottom: 70px;
}

#team .team-card h1 {
    font-family: 'Bitter', Georgia, serif;
    color: #f38580;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 5px;
}

#team .team-card h2,
#team .team-card h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 12px;
    color: #949494;
}

#team .team-card h2 {
    color: #faae5f;
    margin-top: 6px;
    margin-bottom: px;
    font-weight: 500;
    font-size: 1.22rem;
    letter-spacing: 0.08em;
}

#team .team-card h2 .fa {
    margin-right: 5px;
    font-weight: 800;
}

#team .team-card p {
    font-size: 1.55rem;
    line-height: 1.5;
    font-weight: 300;
    color: #696969;
    margin-top: 10px;
}

#team .team-card .dropdown-menu {
    position: relative;
    background: transparent;
    box-shadow: none;
    border: none;
}

#team .main-button {
    padding: 0;
    border: none;
    font-size: 1.4rem;
    letter-spacing: 0.07em;
}

#team .main-button:hover,
#team .main-button:focus {
    color: #f38580;
    background: transparent;
}

#team .main-button:before {
    content: "";
    position: absolute;
    width: 103px;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #f38580;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

#team .main-button:hover:before,
#team .main-button:focus:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.fa-file-text-o {
    margin-right: 7px;
    color: #f38580;
}

#contact iframe {
    width: 100%;
    margin-top: 70px;
}

.contact-infos {
    padding: 70px 20px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.contact-infos .info a {
    color: #f38580;
}

.contact-infos .info .fa {
    margin-right: 7px;
    color: #f38580;
    float: left;
}

.contact-infos .info .fa-phone {
    margin-top: 3px;
}

.contact-infos .info .fa-envelope-o {
    margin-top: 3px;
    margin-left: -1px;
    margin-right: 8px;
}

.contact-infos .info .fa-map-marker {
    margin-top: 2px;
    margin-right: 12px;
    margin-left: 2px
}

.contact-infos h2 {
    font-size: 1.6rem;
    line-height: 1.35;
    font-weight: 400;
    color: #949494;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 767px) {
    body {
        border-width: 5px;
    }
    #header .intro img {
        width: 220px;
        margin-top: 35px;
    }
    #header .intro p {
        margin: 35px auto;
        padding: 0 25px;
    }
    #header .intro p.desktop {
        display: none;
    }
    #header .intro p.mobile {
        display: block;
    }
    #header .intro a {
        width: 153px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
    }
    #header .intro a[href*="team"],
    #header .intro a[href*="contact"] {
        margin-left: auto;
        margin-right: auto;
    }
    #header .intro a[href*="team"] {
        margin-bottom: 15px;
    }
}