.videos .episodes h1 {
	margin-bottom: 20px;
}

.videos.inner .intro h2 {
	color: #9961E8;
	font-size: 10rem;
	line-height: 1.2;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 40px;
}

.videos.inner .intro p {
	font-size: 2rem;
	line-height: 1.6;
	max-width: 500px;
	color: inherit;
	font-weight: 400;
	margin-bottom: 0;
	color: #717171;
}

.content {
	margin-bottom: 180px;
}

.content__card:last-child {
	margin-bottom: 0;
}

.content__card > h3 {
	position: relative;
	left: 0;
	top: 0;
	margin-bottom: 0;
	float: left;
	padding: 25px 30px;
	background-color: #9961E8;
	color: #fff;
	margin-top: 0;
	font-weight: 100;
	font-size: 3.5rem;
}

.content__card > h3.card__episode {
	color: inherit;
	background-color: #fff;
}

.content__subscribe {
	display: inline-block;
	position: absolute;
	right: 15px;
	margin-top: 20px;
	padding: 15px 20px;
	color: #9961E8;
	border: 2px solid;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.03em;
	background-color: #fff;
	text-transform: uppercase;
	border-radius: 50px;
	z-index: 5;
}

.content__subscribe:hover,
.content__subscribe:focus {
	text-decoration: none;
	background-color: #A977EF;
	border-color: #A977EF;
	color: #fff;
}

.content__description {
	float: left;
	position: absolute;
	left: 15px;
	padding-top: 25px;
	margin-top: 88px;
	opacity: 0; /*tirar depois de fazer o JS*/
	cursor: default; /*tirar depois de fazer o JS*/
	z-index: 4;
}

.episode__card {
	cursor: pointer;
}

.episode__card__infos {
	background-color: #fff;
}

.episode__card__infos h3 {
	font-size: 2.1rem;
	font-weight: 700;
	color: #9961E8;
	margin-top: 0;
	margin-bottom: 0;
	padding: 25px 25px 15px 25px;
}

.episode__card__infos p {
	font-size: 1.6rem;
	line-height: 1.7;
	padding: 0 25px 25px 25px;
	margin-bottom: 30px;
	letter-spacing: 0.02em;
	color: #46424b;
}

.episode__card__infos p:hover {
	color: #46424b;
}

@media screen and (max-width: 991px) {
	.video-container iframe,
	.video-container object,
	.video-container embed {
		top: 85px;
	}

	.content__description {
		margin-top: 85px;
		height: 20px; /*remover depois do JS*/
	}
}

@media screen and (max-width: 599px) {
	.videos.inner .intro h2 {
		font-size: 5rem;
	}

	.content__card > h3 {
		font-size: 2.7rem;
		padding: 15px 25px;
		margin-top: 10px;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		top: 66px;
	}

	.content__description {
		margin-top: 66px;
	}

	.content__subscribe {
		margin-top: 25px;
		background-color: transparent;
		border-radius: 0;
		padding: 0;
		padding-bottom: 3px;
		border: none;
		border-bottom: 3px solid;
	}

	.content__subscribe:hover,
	.content__subscribe:focus {
		text-decoration: none;
		background-color: transparent;
		border-color: #A977EF;
		color: #A977EF;
	}
}
