/* Estilos gerais */


body {

	font-family: Roboto,Source Sans Pro, Arial;
}

h1 {

	font-size: 70px;
	font-weight: bold;   
    
}

p {
  
  font-size: 30px;
  color: dimgray;
  font-weight: lighter;
  margin-top: 10px;
  
}



img {

	max-width: 100%;
}

/*MENU*/

.header {

	background-color: #46beff;
    height: 86px;
	width: 100%;		
	top: 0;
}

.header img {

	margin-top: 25px;

}

/*intro*/


.intro {

	height: 732px;
	width: 100%;
	margin-top: 90px;
	
}

.intro h1 {

	color: dimgray;
	margin-top: 150px;
}

.texto-azul p {
  
  font-size: 30px;
  color: deepskyblue;
  font-weight: lighter;
  margin-top: 50px;
  
}

.bt-google {
  
  background-color: #f7f7f7;
  height: 70px;
  width: 255px;
  margin-left: -2px;
  padding: 15px 0px 0px 37px ;
  border-radius: 10px;
  margin-top: 40px;
}

.bt-google:hover {
  
  background-color: #e6e6e6;

}

.redes-sociais {
  
  
  float: right;
  margin-top: 50px;
}

.redes-sociais img {
  
  margin-left: 10px;
}






/*tablet*/

@media only screen and (min-width: 768px) and (max-width: 959px) {

	/*HOME*/

	.intro{

		margin-top: 60px;
		width: 95%;
		text-align: center;
        
        
	
	}
  
  .intro h1 {

	color: dimgray;
	margin-top: 40px;
      
}
  
  .texto-azul {
    
    margin-top: -20px;
  }
  
   
  .mascote {
      
     margin: 0 auto;     
     max-width: 20%;      
        
    }
    
  .bt-google {
    
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 0;
  
  }
  
  .redes-sociais {
  
  
  float: none;
  margin-top: 30px;
  margin-bottom: 60px;
}
  
  .redes-sociais img{
  
    margin-right: 20px;
    
  }



}

/*smartphone*/

@media only screen and (max-width: 767px) {

  .header {
    
    text-align: center;
  }
    
  p {
    
    font-size: 25px;
    
  }
    
  
    .intro{

		margin-top: 40px;
		width: 95%;
		text-align: center;      
        
        
	
	}
  
    .intro h1 {

	color: dimgray;
	margin-top: 20px;
    text-align: center;
    font-size: 50px;
      
}
    
  .texto-azul p{
    
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
    
  }
    
    .mascote {
      
     margin: 0 auto;     
     max-width: 50%;      
     
      
    }
    
  .bt-google {
    
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 0px;
  
  }
  
    
  .redes-sociais {
  
  
  float: none;
  margin-top: 30px;
  margin-bottom: 60px;
}
  
  .redes-sociais img{
  
    margin-right: 20px;
    
  }

  





}




























































