*:hover {
	-webkit-transition: all ease-in-out 0.15s;
	-o-transition: all ease-in-out 0.15s;
	transition: all ease-in-out 0.15s;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Merriweather Sans', Verdana, sans-serif;
	color: #777;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Bitter', serif;}

p {
	font-weight: 300;
	font-size: 1.45rem;
	line-height: 1.75;
	letter-spacing: 0.04rem;
}

/*Add this to all main titles across the page*/
.section-title {
	color: #ff9016;
	font-size: 3.4rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 25px;
	position: relative;
}

.section-title:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 5px;
	background-color: #ff9016;
}

/*NAVBAR*/
.navbar-default {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.navbar-default .navbar-collapse {
	border-color: #fff;
	background-color: #ff9016;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25rem;
	letter-spacing: 0.08rem;
	padding-top: 14px;
	padding-bottom: 13px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
	color: rgba(255,255,255,0.7);
}

.navbar-default .navbar-nav>li>a[href="#compre"] {
	border: 2px solid #fff;
	padding-top: 12px;
	padding-bottom: 10px;
	margin-left: 10px;
}

.navbar-default .navbar-nav>li>a[href='#compre']:hover,
.navbar-default .navbar-nav>li>a[href='#compre']:focus,
.navbar-default .navbar-nav>li>a[href='#compre']:active {
	color: #ff9016;
	background-color: #fff;
}

.navbar-nav {
	margin-bottom: 0;
}

.navbar-default .navbar-toggle {
	border: none;
	margin-right: 5px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-toggle .nav-label {
	position: absolute;
	left: -51px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	top: 6px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/*HEADER*/

.header {
	width: 100%;
	min-height: 500px;
	background-image: url('../imgs/header__bg.jpg');
	background-size: cover;
	background-color: #ff9016;
	z-index: 1;
}

.header .container {
	padding-top: 120px;
}

.header__title {
	color: #fff;
}

.header__title h1 {
	font-size: 4.5rem;
}

.header__title h1 span {
	display: block;
	width: 100%;
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

.header__title p {
	font-weight: 300;
	font-size: 1.55rem;
	line-height: 1.65;
	letter-spacing: 0.04rem;
	margin-top: 20px;
}

.header__title a {
	display: block;
	width: 110px;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	padding: 11px 13px 10px;
	background-color: #8f0d57;
	text-decoration: none;
}

.header__book-cover img {
	position: absolute;
	right: 0;
	left: 50px;
	max-height: 850px;
}

/*QUOTE*/
.quote {
	margin-top: 50px;
}

.quote p {
	font-style: italic;
}

.quote p:before {
	content: '"';
	font-family: 'Bitter', serif;
	font-size: 4.5rem;
	position: absolute;
	top: -19px;
	left: -12px;
	color: #ff9016;
}

.quote span {
	font-weight: 700;
	font-style: normal;
	display: block;
	text-align: right;
	margin-top: 15px;
}

.quote span:before {
	content: '—';
	position: absolute;
	color: #ff9016;
	right: 190px;
}

/*AUTORA*/
#autora {
	margin-top: 200px;
}

.autora__text {
	padding-left: 70px;
}

.autora__text p {
	margin-bottom: 20px;
}

.autora__text p a {
	text-decoration: none;
	color: #333;
	font-weight: 400;
}

.autora__text p a:hover,
.autora__text p a:focus,
.autora__text p a:active {
	color: #ff9016;
}

#infos {
	margin-top: 60px;
}

/*SUMÁRIO*/
#sumario .section-title {
	margin-bottom: 23px;
}

#sumario ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

#sumario ul li {
	padding-left: 20px;
	font-weight: 300;
	font-size: 1.45rem;
	line-height: 1.55;
	letter-spacing: 0.04rem;
	margin-bottom: 7px;
}

#sumario ul li:first-child {
	padding-left: 0;
	color: #ff9016;
	font-weight: 400;
}

#sumario ul li:first-child span {
	color: #777;
	font-weight: 300;
}

/*ONDE ENCONTRAR*/

#compre {
	padding-left: 70px;
}

#compre .section-title {
	color: #8f0d57;
	margin-bottom: 25px;
}

#compre .section-title:before {
	background-color: #8f0d57;
}

.compre__card {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	margin-bottom: 30px;
}

.compre__card__brand {
	text-align: center;
	background-color: #8f0d57;
}

.compre__card__brand.blucher {
	padding: 70px 0;
}

.compre__card__brand.cultura{
	padding: 61px 0;
}

.compre__card__brand.blucher img {
	max-height: 40px;
}

.compre__card__brand.cultura img {
	max-height: 54px;
}

.compre__card__link {
	display: block;
	text-align: center;
	border: 3px solid #8f0d57;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.07rem;
	color: #8f0d57;
	padding: 21px 0 20px;
}

.compre__card__link:hover,
.compre__card__link:focus,
.compre__card__link:active {
	text-decoration: none;
	color: #B54585;
}

/*AGENDA*/
#agenda {
	margin-top: 60px;
	padding-bottom: 60px;
	background-color: #f9f9f9;
}

#agenda .section-title {
	margin-bottom: 30px;
}

.agenda__card-item {
	min-height: 365px;
	position: relative;
	padding: 30px;
	margin-bottom: 30px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
	0 1px 2px rgba(0,0,0,0.24);
}

.agenda__card-item ul {
	list-style: none;
	padding-left: 0;
}

.agenda__card-item li {
	font-weight: 300;
	margin-bottom: 14px;
	font-size: 1.4rem;
}

.agenda__card-item li.cidade {
	font-size: 22px;
	font-weight: 700;
}

.agenda__card-item li.data {
	font-weight: 700;
}

.agenda__card-item li.data span {
	font-weight: 300;
}

.agenda__card-item li span {
	display: block;
	text-transform: uppercase;
	color: #ff9016;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.08rem;
}

.card-footer {
	position: absolute;
	text-align: right;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-size: 12px;
	font-weight: 700;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 20px 30px;
	border-top: 1px solid rgb(230,230,230);
}

.card-footer:hover,
.card-footer:focus,
.card-footer:active {
	text-decoration: none;
	color: #ff9016;
}

/*CONTATO*/

#contato {
	background-color: #8f0d57;
}

#contato .contato-container {
	padding: 30px 0;
}

#contato .contato-container > h3 {
	color: #fff;
	font-size: 2.5rem;
	line-height: 1.3;
	padding-right: 30px;
}

#contato .form-control {
	border-radius: 0;
	padding: 20px 14px;
	background-color: #a20d6b;
	color: #fff;
}

#contato .form-horizontal {
	padding-top: 20px;
}

#contato .form-horizontal .control-label {
	color: #fff;
	font-weight: 300;
	margin-bottom: 5px;
}

#contato .form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

#contato textarea.form-control {
	padding: 12px 14px;
}

#contato input + span,
#contato textarea + span  {
	color: rgba(255,255,255,0.5);
}

#contato .btn {
	text-transform: uppercase;
	border-radius: 0;
	background-color: #fff;
	color: #8f0d57;
	padding: 11px 13px 10px;
	float: right;
	border-color: #fff;
}

#contato .error,
#contato .success {
	font-size: 1.8rem;
	color: rgba(255,255,255,0.5);
}

@media (max-width: 1199px) {

	.header__title h1 {
		font-size: 3.5rem;
	}

	.header__title h1 span {
		font-size: 5rem;
	}

	#autora {
		margin-top: 50px;
	}
}

@media (max-width: 991px) {

	.header__title h1 {
		font-size: 3rem;
	}

	.header__title h1 span {
		font-size: 4rem;
	}

	.header__title p {
		font-size: 1.35rem;
	}

	.autora__text {
		padding-left: 15px;
	}

	.autora__text p {
		font-size: 1.35rem;
		line-height: 1.65;
	}

	#sumario ul li {
		font-size: 1.35rem;
		line-height: 1.65;
	}

	#compre {
		padding-left: 15px;
	}

	.compre__card__brand.blucher img {
		max-height: 30px;
	}

	.compre__card__brand.cultura img {
		max-height: 44px;
	}

}

@media (min-width: 768px) {

	.navbar-default .navbar-collapse {
		background-color: transparent;
	}

	.navbar-default .navbar-nav>li {
		padding-top: 15px;
		padding-bottom: 15px;
	}

}

@media (max-width: 767px) {

	*.row {
		margin-left: 0;
		margin-right: 0;
	}

	.navbar-default .navbar-nav>li>a[href="#contato"] {
		padding-bottom: 20px;
	}

	.navbar-default .navbar-nav>li>a[href="#compre"] {
		background-color: #fff;
		color: #ff9016;
		margin-left: 0;
	}

	.header {
		max-height: 680px;
	}

	.header .container {
		padding-top: 80px;
	}

	.header__title h1 {
		font-size: 2.5rem;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.header__title h1 span {
		font-size: 3.5rem;
	}

	.header__title p {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.header__title a {
		margin-left: auto;
		margin-right: auto;
	}

	.header__book-cover img {
		max-height: 500px;
		position: relative;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
	}

	.quote {
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.autora__text p a {
		text-decoration: underline;
	}

	#agenda {
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.agenda-container {
		padding-left: 0;
		padding-right: 0;
	}

	#contato .contato-container > h3 {
		font-size: 2.2rem;
	}
}

@media (min-width: 650px) and (max-width: 767px) {
	#compre {padding-right: 0;}
}

@media (max-width: 649px) {

	.section-title {
		font-size: 3rem;
		margin-top: 18px;
	}

	#agenda .section-title {
		margin-top: 0;
	}

	.section-title:before {
		width: 100%;
		height: 4px;
	}

	#autora,
	#infos {
		padding-left: 0;
		padding-right: 0;
	}

	.autora__pic,
	.autora__text,
	#sumario,
	#compre,
	.agenda__card {
		width: 100%;
	}

	#infos {
		margin-top: 30px;
	}

	#sumario {
		margin-bottom: 35px;
	}

	.agenda__card {
		padding-left: 0;
		padding-right: 0;
	}

}